<ace-app-form *ngIf="application" [application]="application"></ace-app-form>

<div class="row environment-list-container" *ngIf="appEnvironments && appEnvironments.length > 0">
	<div class="col-12 col-sm-6 col-md-4" *ngFor="let env of appEnvironments; let i = index">
		<div class="card">
			<div class="card-body">
				<div class="form-group">
					<label for="" class="control-label">Environment Name:</label>
					<input #nameInput type="text" class="form-control">
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col">
						<button class="btn btn-success btn-block" (click)="updateEnvironment(i, nameInput.value)">Save</button>
					</div>
					<div class="col">
						<a class="btn btn-info btn-block" (click)="updateEnvironment(i, nameInput.value)">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-end">
	<div class="col-md-4">
		<button (click)="addAppEnvironment()" class="btn btn-info btn-block">Add App Environment</button>
	</div>
</div>
