/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.sm-margin-bottom {
	margin-bottom: 10px;
}
.md-margin-bottom {
	margin-bottom: 20px;
}
.lg-margin-bottom {
	margin-bottom: 30px;
}
